ui-modal(
	size="large"
	on-enter-key="selectedCharacters.length > 0 && apply()"
	on-escape-key="cancel()")
	ui-modal-header(
		title="Insert special character"
		icon="keyboard-o")

	ui-modal-body
		.alert
			| Select the character you’d like to insert into your document.

		ui-region-root-row
			ui-region-column
				ui-region-row
					ui-panel
						ui-panel-header(title="Ranges")

						ui-panel-toolbar
							label
								| Sort by

							select.form-control(
								style="display: inline-block; width: auto; margin-left: 8px;"
								ng-model="search.context"
								ng-options="context.sortLabel for context in contexts")

						ui-panel-body
							.character-group-list-container
								ul.list--bordered
									li.character-group-list__item(
										ng-if="search.filter.length > 0"
										ng-class="{active: labelIsSelected()}")
										a(ng-click="selectLabel()")
											| Search results for ‘{{search.filter}}’

									li.character-group-list__item(
										ng-repeat="label in displayedLabels | orderBy: search.context.attribute track by label.name"
										ng-class="{active: labelIsSelected(label)}"
										ng-if="!search.filter || label.matches > 0")
										a(ng-click="selectLabel(label)")
											span.character-group-name
												| {{label.name}}

											span.character-group-explanation(ng-if="search.context.renderLabelSubtitle")
												| {{search.context.renderLabelSubtitle(label)}}

				ui-region-row(
					size="fixed"
					ng-if="displayedRecentCharacters.length > 0")
					ui-panel
						ui-panel-header(title="Recently inserted")

						ui-panel-body
							.recent-characters
								.character-list
									ul.character-list__grid
										li.character-list__item(
											ng-repeat="character in displayedRecentCharacters track by character.id"
											ng-click="selectCharacter(character)"
											ng-class="{selected: characterIsSelected(character), disabled: !character.name}")
											a(
												ng-if="character.name"
												ng-bind-html="'&#8202;' + character.html | trustAsHtml")

			ui-region-column(size="2")
				ui-panel
					ui-panel-header(title="Characters")

					ui-panel-toolbar
						input.form-control(
							ui-autofocus
							type="text"
							placeholder="Filter labels and characters…"
							ng-model="search.filter")

					ui-panel-body
						.character-list
							ul.character-list__grid
								li.character-list__item(
									ng-repeat="character in displayedCharacters track by character.id"
									ng-click="selectCharacter(character)")
									a(
										ng-if="character.name"
										ng-bind-html="'&#8202;' + character.html | trustAsHtml"
										ng-class="{selected: characterIsSelected(character), disabled: !character.name}")

			ui-region-column
				ui-panel
					ui-panel-header(title="Preview")

					ui-panel-body
						.selected-character
							.character-preview(
								ng-if="selectedCharacters[0]"
								ng-bind-html="'&#8202;' + selectedCharacters[0].html | trustAsHtml")

							.character-label(ng-if="selectedCharacters[0]")
								div
									b {{selectedCharacters[0].codePoints.join(', ')}}
								| {{selectedCharacters[0].name}}

							.character-numeric-codes(ng-if="selectedCharacters[0] && search.context.renderCharacterSubtitle")
								| {{search.context.renderCharacterSubtitle(selectedCharacters[0])}}

	ui-modal-footer
		ui-button-bar
			ui-button-bar-region
				ui-button(
					type="default"
					label="Cancel"
					click="cancel()")

			ui-button-bar-region
				ui-button(
					type="primary"
					label="Insert"
					click="apply()"
					enabled="{{selectedCharacters.length > 0}}")
