.ui-special-character-grid
	ui-region-root-column(no-gutter)
		ui-region-row(
			no-gutter
			ng-repeat="selectableRow in uiSpecialCharacterGrid.selectableRows track by $index"
			ng-init="row = $index")
			ui-region-column(
				size="fixed"
				ng-repeat="selectableColumn in uiSpecialCharacterGrid.selectableColumns track by $index"
				ng-init="character = uiSpecialCharacterGrid.getCharacterAtGridPosition(row, $index)"
				ng-click="uiSpecialCharacterGrid.executeOperation(character)")
				ui-region-content
					ui-button(
						label="{{character.html | trustAsHtml}}"
						label-width="4"
						tooltip-content="{{character.name}}"
						enabled="{{uiSpecialCharacterGrid.operationStateEnabled}}")
