.modal-header

	h3.modal-title
		| Insert special character

.modal-body

	.alert
		| Select the character you want to insert into your document.

	.modal-functional-body
		.character-picker

			//- Group list
			.character-group-browser

				.character-group-sort
					label.control-label Sort character groups
					select.form-control(
						ng-model="search.context",
						ng-options="context.sortLabel for context in contexts")

				ul.character-group-list.list--bordered
					li.character-group-list__item(
						ng-if="search.filter.length>0",
						ng-class="{active: labelIsSelected()}")
						a(ng-click="selectLabel()") Search results for &ldquo;{{search.filter}}&rdquo;

					li.character-group-list__item(
						ng-repeat="label in displayedLabels | orderBy: search.context.attribute track by label.name",
						ng-class="{active: labelIsSelected(label)}",
						ng-if="!search.filter || label.matches > 0")
						a(ng-click="selectLabel(label)")
							span.character-group-explanation(ng-if="search.context.renderLabelSubtitle") {{search.context.renderLabelSubtitle(label)}}
							span.character-group-name {{label.name}}

			//- Character grid
			.character-browser

				.character-search
					label.control-label Filter characters
					input.form-control(
						type="text",
						placeholder="Filter labels and characters…",
						ng-model="search.filter")

				.character-list
					ul.character-list__grid
						li.character-list__item(
							ng-repeat="character in displayedCharacters track by character.id",
							ng-click="selectCharacter(character)",
							ng-bind-html="character.html | trustAsHtml",
							ng-class="{selected: selectedCharacters.indexOf(character) >= 0}")

			//- Character preview
			.selected-character
				.character-preview(ng-if="selectedCharacters[0]", ng-bind-html="selectedCharacters[0].html | trustAsHtml")
				.character-label(ng-if="selectedCharacters[0]") {{selectedCharacters[0].name}}
				.character-numeric-codes(ng-if="selectedCharacters[0] && search.context.renderCharacterSubtitle") {{search.context.renderCharacterSubtitle(selectedCharacters[0])}}

.modal-footer
	button.btn.btn-default.pull-left(ng-click="cancel()") Cancel
	button.btn.btn-primary(ng-click="apply()", ng-disabled="selectedCharacters.length === 0") Insert
