.insert-special-character
	.modal-header
		h3.modal-title
			| Insert special character

	.modal-body
		.alert.alert-info
			i.icon.icon-info-circle
			| Select the character you want to insert into your document.

		.modal-functional-body
			.modal-toolbar
				.view-sort
					label.control-label Sort by
					select.form-control(ng-model='search.sort', ng-options='sortable.name for sortable in sortables')

				.view-search
					input.form-control(
						type="text",
						placeholder="Filter labels and characters…",
						ng-model='search.filter'
					)

			.character-picker
				.character-group-browser
					ul.character-group-list.list--bordered
						li.character-group-list__item(ng-if='search.filter.length>0', ng-class='{active: labelIsSelected()}')
							a(ng-click='selectLabel()') Search results for "{{search.filter}}"

						li.character-group-list__item(
							ng-repeat="label in displayedLabels | orderBy: search.sort.attribute track by label.name",
							ng-class='{active: labelIsSelected(label)}',
							ng-if='!search.filter || label.matches > 0'
						)
							a(ng-click='selectLabel(label)') {{label.name}}

				.character-browser
					ul.character-list
						//- Ng repeat this for chars from selected character set
						li.character-list__item(
							ng-repeat="character in displayedCharacters track by character.id",
							ng-click='selectCharacter(character)',
							ng-bind-html='character.html',
							ng-class='{selected: selectedCharacters.indexOf(character) >= 0}'
						)

				.selected-character
					.character-preview(ng-bind-html='selectedCharacters[0].html')
					.character-label {{selectedCharacters[0].name}}
	
	.modal-footer
		button.btn.btn-default.pull-left(ng-click='cancel()') Cancel
		button.btn.btn-primary(ng-click='apply()', ng-disabled='selectedCharacters.length === 0') Insert
